BONDING_OPTS="mode={{ item.bond_mode }} miimon={{ item.bond_miimon|default(100) }}
{%- if item.bond_xmit_hash_policy is defined %}
 xmit_hash_policy={{ item.bond_xmit_hash_policy }}
{%- endif -%}
{%- if item.bond_downdelay is defined %}
 downdelay={{ item.bond_downdelay }}
{%- endif -%}
{%- if item.bond_updelay is defined %}
 updelay={{ item.bond_updelay }}
{%- endif -%}
{%- if item.bond_primary is defined %}
 primary={{ item.bond_primary }}
{%- endif -%}
{%- if item.bond_use_carrier is defined %}
 use_carrier={{ item.bond_use_carrier }}
{%- endif -%}
{%- if item.bond_ad_select is defined %}
 ad_select={{ item.bond_ad_select }}
{%- endif -%}
{%- if item.bond_extra_opts is defined %}
 {{ item.bond_extra_opts }}
{%- endif -%}
"
